<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="videoDao">

	<resultMap type="videoVo" id="videoVo">
		<result column="ROWNUM" property="rowNum"/>
		<result column="VIDEO_IDX" property="VideoIdx"/>
		<result column="VIDEO_TITLE" property="VideoTitle"/>
		<result column="VIDEO_CONTENTS" property="VideoContents"/>
		<result column="VIDEO_IDENTIFIED_ID" property="VideoIdentifiedId"/>
		<result column="VIDEO_WRTDATE" property="VideoWrtdate"/>
		<result column="VIDEO_REGDATE" property="VideoRegdate"/>
		<result column="VIDEO_UPTDATE" property="VideoUptdate"/>
		<result column="VIDEO_REG_ID" property="VideoRegId"/>
		<result column="VIDEO_REG_IP" property="VideoRegIp"/>
		<result column="VIDEO_UPT_IP" property="VideoUptIp"/>
		<result column="VIDEO_VIEW_CNT" property="VideoViewCnt"/>
		<collection property="member" resultMap="member"></collection>
	</resultMap>
	
	<resultMap type="memberVo" id="memberVo">
		<result column="ROWNUM" property="rowNum"/>
		<result column="MEMBER_IDX" property="memberIdx"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PSWD" property="memberPswd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_AUTH" property="memberAuth"/>
		<result column="MEMBER_EMAIL" property="memberEmail"/>
		<result column="MEMBER_CHANNEL_NAME" property="memberChannelName"/>
		<result column="MEMBER_REGDATE" property="memberRegdate"/>
		<result column="MEMBER_UPTDATE" property="memberUptdate"/>
		<result column="MEMBER_REG_IP" property="memberRegIp"/>
		<result column="MEMBER_UPT_IP" property="memberUptIp"/>
		<result column="MEMBER_WRTDATE" property="memberWrtdate"/>
		<result column="MEMBER_IMG" property="memberImg"/>
	</resultMap>
	
	<resultMap type="commentVo" id="commentVo">
		<result column="COMMENT_IDX" property="commmentIdx"/>
		<result column="COMMENT_VIDEO_IDX" property="commmentVideoIdx"/>
		<result column="COMMENT_CONTENTS" property="commmentContents"/>
		<result column="COMMENT_REG_ID" property="commmentRegId"/>
		<result column="COMMENT_REG_IP" property="commmentRegIp"/>
		<result column="COMMENT_UPT_IP" property="commmentUptIp"/>
		<result column="COMMENT_WRTDATE" property="commmentWrtdate"/>
		<result column="COMMENT_REGDATE" property="commmentRegdate"/>
		<result column="COMMENT_UPTDATE" property="commmentUptdate"/>
		<result column="COMMENT_LEVEL" property="commmentLevel"/>
		<result column="COMMENT_REF_IDX" property="commmentRefIdx"/>
		<collection property="member" resultMap="member"></collection>
	</resultMap>
	
	<select id="videoList" resultType="videoVo">
		/*videoDao.videoList.박혁진*/
		 SELECT * FROM
			(SELECT ROWNUM AS RN, a.*
			 FROM (SELECT v.video_idx,
			 			  CASE WHEN lengthb(v.video_title) > 100 THEN SUBSTR(v.video_title, 0, 38) || '...'
						  ELSE v.video_title
						  END video_title,
			 			  v.video_contents,
			 			  v.video_identified_id,
			 			  v.video_regdate,
			 			  v.video_wrtdate,
			 			  v.video_uptdate,
			 			  v.video_reg_id,
			 			  v.video_reg_ip,
			 			  v.video_upt_ip,
			 			  v.video_view_cnt,
			 			  m.member_channel_name,
			 			  m.member_img
				   FROM   VIDEO_PHJ v, MEMBER_PHJ m
				   WHERE  1=1
				   AND    v.video_reg_id = m.member_id(+)
				   ORDER BY video_idx DESC ) a)
		<![CDATA[
	    WHERE RN BETWEEN (#{criteria.page} - 1) * #{criteria.perPageNum} + 1 AND #{criteria.page} * #{criteria.perPageNum}
		]]>
	</select>
	
	<select id="videoListCnt" resultType="int">
	/*videoDao.videoListCnt.박혁진*/
		SELECT  COUNT(DISTINCT video_idx)
		FROM	VIDEO_PHJ
		WHERE	1=1
	</select>
	
	<insert id="registerVideo" parameterType="videoVo">
	/*videoDao.registerVideo.박혁진*/
		INSERT INTO VIDEO_PHJ(
			   video_idx,
			   video_title,
			   video_contents,
			   video_identified_id,
			   video_regdate,
			   video_wrtdate,
			   video_reg_id,
			   video_reg_ip
			   )
		VALUES(
			   VIDEO_PHJ_SEQ.NEXTVAL, 
			   #{videoTitle},
			   #{videoContents},
			   #{videoIdentifiedId},
			   sysdate,
			   sysdate,
			   #{videoRegId},
			   #{videoRegIp}
			  )
	</insert>
	
	<select id="videoDetail" parameterType="int" resultType="videoVo">
	/*videoDao.videoDetail.박혁진*/
		SELECT v.video_idx,
 			   v.video_title,
 			   v.video_contents,
 			   v.video_identified_id,
 			   v.video_regdate,
 			   v.video_wrtdate,
 			   v.video_uptdate,
 			   v.video_reg_id,
 			   v.video_reg_ip,
 			   v.video_upt_ip,
 			   v.video_view_cnt,
 			   m.member_channel_name,
 			   m.member_img
		FROM   VIDEO_PHJ v, MEMBER_PHJ m
		WHERE  1=1 
		AND    v.video_reg_id = m.member_id(+)
		AND    VIDEO_IDX = #{videoIdx}
	</select>
	
	<update id="videoViewCnt" parameterType="int">
	/*videoDao.videoViewCnt.박혁진*/
		UPDATE VIDEO_PHJ
		SET    video_view_cnt = video_view_cnt + 1
		WHERE  video_idx = #{videoIdx} 
	</update>
</mapper>